.threeDRenderer {
  background-color: #000;
  position: absolute;
  width: 100%;
  height: 85%;
}

.twoDRenderer {
  border-left: thin solid #666;
  background-color: #000;
  position: absolute;
  width: 20%;
  height: 33.333%;
  right: 0%;
}

#sliceX {
  top: 0%;
}

#sliceY {
  top: 33.333%;
}

#sliceZ {
  top: 66.666%;
}


#yellow_slider {
  margin-top: auto;
  background: yellow;
}

#red_slider {
  margin-top: auto;
  background: red;
}

#green_slider {
  margin-top: 2px;
  background: green;
}

.xtk-progress-bar {
  position: absolute;
  top: 50%;
  left: 50%;
}

.ren2d_icon {
  cursor: pointer;
  position: absolute;
  width: 28px;
  height: 28px;
  top: 12px;
  border: thin dotted #484848;
  opacity: 0.5;
}

#camera_home {
	background: none;
	border: none;
	cursor: pointer;
/*	position: absolute;
	left: 0%;
	bottom: 0%;*/
}
